:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-image: linear-gradient(to top , #c59fdf, #8363d5);

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input{
  background-color: #c59fdf;
  color: #FFFFFF;
}
button{
  background-color: #c59fdf;
  color: white;
}

::placeholder{
  color: #FFFFFF;
  font-size: 2vh;
}

@media only screen and (max-width:600px) {
  :root{
    background-color: rgb(151, 165, 202);
    background-image: none;
  }
}